<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.todoit.api.v1.mapper.CalendarMapper">
    <select id="findAllByUserId" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select
            c.id, c.name, ifnull(c.thumbnail_preview, '') as thumbnail_preview, c.is_private, c.is_default, c.user_id
        from calendars c
                 left join calendar_groups cg on cg.calendar_id = c.id
        where cg.user_id = #{id}
        order by c.created_at asc;
    </select>
</mapper>