<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.todoit.api.mapper.NotificationMapper">
    <resultMap id="defaultNotification" type="kr.todoit.api.dto.NotificationFindResponse">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="action_url" property="actionUrl"/>
        <result column="content" property="content"/>
    </resultMap>
    <select id="findAllByToUserId" parameterType="java.lang.Long" resultMap="defaultNotification">
        select n.id, n.type, n.action_url, n.content
        from notifications n
        where to_user = #{id} and is_confirmed = 0;
    </select>
</mapper>