<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.todoit.api.mapper.UserMapper">
    <resultMap id="user" type="kr.todoit.api.dto.UserDetailResponse">
        <id column="id" property="id"/>
        <result column="user_code" property="userCode"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="profile_preview_img" property="profilePreviewImg"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>
    <select id="findOneById" parameterType="java.lang.Long" resultMap="user">
        select
            -- 회원 정보
            u.id, u.user_code, u.nickname, u.email, u.updated_at as created_at, if(u.profile_preview_img is not null, u.profile_preview_img, '') as profile_preview_img
        from users u
        where u.id = #{id}
    </select>

    <select id="findAllByCalendarId" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select
            u.id,
               u.nickname,
               u.user_code,
               ifnull(u.profile_img, '') as profile_img,
               ifnull(u.profile_preview_img, '') as profile_preview_img
        from users u
                 left join calendar_groups cg on u.id = cg.user_id
        where cg.calendar_id = #{id};
    </select>
</mapper>